<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysMenu">
  <resultMap id="BaseResultMap" type="com.xbz.vpase.persistent.entity.SysMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="enable" jdbcType="BIT" property="enable" />
  </resultMap>

  <resultMap id="ResultMapWithChild" type="com.xbz.vpase.persistent.entity.SysMenu" >
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <collection property="children"  ofType="com.xbz.vpase.persistent.entity.SysMenu"  javaType="ArrayList"
                select="selectChild" column="{parentId = id}"   >
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, name, parent, url, icon, grade, level, time, remark, enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xbz.vpase.persistent.entity.SysMenu">
    insert into sys_menu (id, name, parent, 
      url, icon, grade, level, 
      time, remark, enable
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parent,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{enable,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xbz.vpase.persistent.entity.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parent != null">
        parent,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xbz.vpase.persistent.entity.SysMenu">
    update sys_menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        parent = #{parent,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xbz.vpase.persistent.entity.SysMenu">
    update sys_menu
    set name = #{name,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT}
    where id = #{id,jdbcType=BIT}
  </update>

  <select id="selectChild" parameterType="java.util.Map"  resultMap="ResultMapWithChild">
    SELECT <include refid="Base_Column_List"/> FROM sys_menu
    WHERE parent = #{parentId,jdbcType=INTEGER}
  </select>

  <select id="selectFirstLevelMenu" parameterType="int" resultMap="ResultMapWithChild">
    SELECT <include refid="Base_Column_List"/> FROM sys_menu
    WHERE parent IS NULL and enable = true
    <if test="roleId!=null">
      and menu in(select menu_id from sys_role_menu where role_id = #{roleId})
    </if>
  </select>
</mapper>